<div id="mySidenav" class="sidenav">


  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h2>LnetD - v1.5</h2>
    </div>

    <ul class="list-unstyled components">
      <!-- Dashboard -->
      <li>
      <li class="nav-item">
        <a class="nav-link" href="/home/index">
          <i class="mdi mdi-file-document-box menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      </li>
      <!-- Admin -->
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-cube-outline menu-icon"></i>
          <span class="menu-title">Admin</span>
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li class="nav-item"><a class="nav-link" href="/admin/app_config">&nbsp&middotConfiguration</a></li>
          <li class="nav-item"><a class="nav-link" href="/prov/peering_prov">&nbsp&middotIX BGP Provision</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/admin_report">&nbsp&middotIGP Network Report</a></li>
        </ul>
      </li>
      <!-- Capacity Planning -->
      <li class="active">
        <a href="#capSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-finance menu-icon"></i>
          <span class="menu-title">Capacity Planning</span>
        </a>
        <ul class="collapse list-unstyled" id="capSubmenu">
          <li class="nav-item"><a class="nav-link" href="/data/traffic_links">&nbsp&middotPoP/PoP Capacity</a></li>
          <li class="nav-item"><a class="nav-link" href="/map/international_pop">&nbsp&middotPoP Capacity</a></li>
          <li class="nav-item"><a class="nav-link" href="/map/interface_graph">&nbsp&middotInterface Graph</a></li>
          {% if "admin" in current_user.role %} {% endif %}
          <li class="nav-item"><a class="nav-link" href="/map/edit_international_pop">&nbsp&middotEdit PoP</a></li>
        </ul>
      </li>
      <!-- Peering and transit -->
      <li class="active">
        <a href="#peerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-grid menu-icon"></i>
          <span class="menu-title">Peering and transit</span>
        </a>
        <ul class="collapse list-unstyled" id="peerSubmenu">
          <li class="nav-item"><a class="nav-link" href="/map/static_map">&nbsp&middotExternal Topology</a></li>
          <li class="nav-item"><a class="nav-link" href="/map/static_time">&nbsp&middotExternal Time Topology</a></li>
          <li class="nav-item"><a class="nav-link" href="/map/peer_report">&nbsp&middotP&T report</a></li>
          <li class="nav-item"><a class="nav-link" href="/map/cost_report">&nbsp&middotP&T Cost Report</a></li>
          <li class="nav-item"><a class="nav-link" href="/map/external_flow">&nbsp&middotExternal Traffic flows</a></li>
          <li class="nav-item"><a class="nav-link" href="/bgp/bgp_map">&nbsp&middotBGP Topology</a></li>
          {% if "admin" in current_user.role %} {% endif %}
          <li class="nav-item"><a class="nav-link" href="/admin/app_external_netflow">&nbsp&middotEdit Traffic flows</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/map/edit_static_map">&nbsp&middotEdit External Topology</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/bgp/edit_peering_points">&nbsp&middotEdit Peering Points</a>
          </li>

        </ul>
      </li>
      <!-- Inventory -->
      <li class="active">
        <a href="#invSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-server menu-icon"></i>
          <span class="menu-title">Inventory</span>
        </a>
        <ul class="collapse list-unstyled" id="invSubmenu">
          <li class="nav-item"><a class="nav-link" href="/inventory/inventory_device">&nbsp&middotDevice Inventory</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/inventory/inventory_network">&nbsp&middotNetwork Inventory</a>
          </li>
        </ul>
      </li>
      <!-- NOC -->
      <li class="active">
        <a href="#nocSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-grid menu-icon"></i>
          <span class="menu-title">NOC</span>
        </a>
        <ul class="collapse list-unstyled" id="nocSubmenu">
          <li class="nav-item"><a class="nav-link" href="/noc/noc_topology">&nbsp&middotNOC TOPOLOGY</a></li>
          {% if "admin" in current_user.role %} {% endif %}
          <li class="nav-item"><a class="nav-link" href="/noc/edit_topology">&nbsp&middotEDIT NOC TOPOLOGY</a></li>
        </ul>
      </li>
      <!-- Network Model -->
      <li class="active">
        <a href="#modelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-animation menu-icon"></i>
          <span class="menu-title">Network Model</span>
        </a>
        <ul class="collapse list-unstyled" id="modelSubmenu">
          <li class="nav-item"><a class="nav-link" href="https://github.com/cpmarvin/lnetd_qt">&nbsp&middotIGP TOPOLOGY
              MODEL</a></li>
        </ul>
      </li>
      <!--Network Topology -->
      <li class="active">
        <a href="#netSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-codepen menu-icon"></i>
          <span class="menu-title">Network Topology</span>
        </a>
        <ul class="collapse list-unstyled" id="netSubmenu">
          <li class="nav-item"><a id="topo" class="nav-link" href="/data/topology">&nbsp&middotIGP TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_time">&nbsp&middotIGP TIME TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_nested">&nbsp&middotIGP NESTED TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_nested_aggregated">&nbsp&middotIGP AGGREGATED
              TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/filter_topology">&nbsp&middotIGP TOPOLOGY FILTER</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_errors">&nbsp&middotIGP TOPOLOGY ERRORS</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_latency">&nbsp&middotIGP TOPOLOGY LATENCY</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_netbox">&nbsp&middotNETBOX TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/dc/dc_topology">&nbsp&middotDC EVPN</a></li>

        </ul>
      </li>
      <!--Logout -->
      <li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Logout </span>
        </a>
      </li>
      </li>
    </ul>
  </nav>


</div>
<span style="font-size:30px;cursor:pointer" id="myMenu" onclick="openNav()">&#9776;</span>