<div id="mySidenav" class="sidenav">


  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h2>LnetD - v1.5</h2>
    </div>

    <ul class="list-unstyled components">
      <!-- Dashboard -->
      <li>
      <li class="nav-item">
        <a class="nav-link" href="/home/index">
          <i class="mdi mdi-file-document-box menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      </li>
      <!-- Admin -->
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-cube-outline menu-icon"></i>
          <span class="menu-title">Admin</span>
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/app_config">&nbsp&middotConfiguration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/admin_report">&nbsp&middotIGP Network Report</a>
          </li>
        </ul>
      </li>
      
      <!-- Peering and transit -->
      <li class="active">
        <a href="#peerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-grid menu-icon"></i>
          <span class="menu-title">Peering and transit</span>
        </a>
        <ul class="collapse list-unstyled" id="peerSubmenu">
          <li class="nav-item"><a class="nav-link" href="/map/static_map">&nbsp&middotExternal Topology</a></li>
          {% if "admin" in current_user.role %} {% endif %}
          <li class="nav-item"><a class="nav-link" href="/map/edit_static_map">&nbsp&middotEdit External Topology</a>
          </li>

        </ul>
      </li>
     
      <!-- Network Model -->
      <li class="active">
        <a href="#modelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-animation menu-icon"></i>
          <span class="menu-title">Network Model</span>
        </a>
        <ul class="collapse list-unstyled" id="modelSubmenu">
          <li class="nav-item"><a class="nav-link" href="https://github.com/cpmarvin/lnetd_qt">&nbsp&middotIGP TOPOLOGY
              MODEL</a></li>
        </ul>
      </li>
      <!--Network Topology -->
      <li class="active">
        <a href="#netSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="mdi mdi-codepen menu-icon"></i>
          <span class="menu-title">Network Topology</span>
        </a>
        <ul class="collapse list-unstyled" id="netSubmenu">
          <li class="nav-item"><a id="topo" class="nav-link" href="/data/topology">&nbsp&middotIGP TOPOLOGY</a></li>
	  <!-- <li class="nav-item"><a class="nav-link" href="/data/topology_time">&nbsp&middotIGP TIME TOPOLOGY</a></li> -->
          <li class="nav-item"><a class="nav-link" href="/data/topology_nested">&nbsp&middotIGP NESTED TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/topology_nested_aggregated">&nbsp&middotIGP AGGREGATED
              TOPOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="/data/filter_topology">&nbsp&middotIGP TOPOLOGY FILTER</a></li>

        </ul>
      </li>
      <!--Logout -->
      <li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Logout </span>
        </a>
      </li>
      </li>
    </ul>
  </nav>


</div>
<span style="font-size:30px;cursor:pointer" id="myMenu" onclick="openNav()">&#9776;</span>
