flask
flask_migrate
flask_login
flask_user
flask_wtf
pandas
flask_cors
influxdb
networkx
junos-eznc
numpy
nornir>=3.0.0
nornir_napalm
nornir_netmiko
nornir_utils
nornir-jinja2
argon2_cffi
simple-crypt
pycryptodome
pynetbox
redis
cryptography==3.2
flask_httpauth
genie
pyats
slackclient
pymsteams
rich
