{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
  {{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <!-- Include modal for adding links -->
  {% include 'modal_add_link.html' %}
  <!-- Include modal for loading screen -->
  {% include 'modal_loading_screen.html' %}
  <!-- Include modal for netflow -->
  {% include 'modal_netflow.html' %}
  <!-- Include modal for topology -->
  {% include 'modal_topology.html' %}
  <!-- Include modal for save model -->
  {% include 'modal_save_model.html' %}
  <!-- Include modal for load model -->
  {% include 'modal_load_model.html' %}
  <!-- Include modal for add_demands model -->
  {% include 'modal_add_demands.html' %}

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
<!-- 1st Row -->
<div class="row">
  <div class="col-lg-8 col-xs-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <form class="form-inline col-lg-6" method="POST" name="device_inventory">
            <div class="form-group col-lg-6">
              <div class="input-group mb-2 mr-sm-2">
                <select class="form-control" name="device_cc" id="device_cc">
                  <option selected>Router</option>
                  {% for entry in router_name %}
                  <option value="{{entry['anon_1']}}">{{entry['anon_1']}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <button type="submit" class="btn btn-primary btn-success mb-2">Get Inventory</button>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <div class="table-responsive">
              <table id="routers_table" class="table table-hover table-bordered"
              data-toggle="table"
              data-search="false"
              data-sortable="true"
              data-pagination="true"
              data-page-size="4"
              data-total-rows="4"
              data-show-columns="true">
              <thead class="thead-light">
                <tr>
                  <th data-field="card_slot" data-sortable="true">CARD SLOT</th>
                  <th data-field="card_name" data-sortable="true">CARD TYPE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for node in cards %}
                  <td>{{node.card_slot}}</td>
                  <td>{{node.card_name}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-xs-12">
                <p class="text-uppercase font-weight-bold">DEVICE:</p><p>{{device_cc}}</p>
              </div>
              <div class="col-lg-6 col-xs-12">
                <p class="text-uppercase font-weight-bold">TYPE:</p><p>{{router_model}}</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-xs-12">
              <div id="chassis_rtr" class="offset1-3"></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xs-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Interfaces</h4>
        <div style="width:100%" id="interface_bar">
        </div>
      </div>
    </div>
  </div>
</div>
<!--end first row-->
<!-- 2rd Row -->
<div class="row">
  <div class="col-sm-12 grid-margin d-flex stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title mb-2">Router Inventory</h4>
          <div class="dropdown">
            <a href="#" class="text-primary btn btn-link  px-1"><i class="mdi mdi-refresh"></i></a>
          </div>
          </div>
          <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
            <li class="nav-item">
              <a class="nav-link active pl-2 pr-2" id="cards-tab" data-toggle="tab" href="#cards" role="tab" aria-controls="cards" aria-selected="true">CARDS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-2 pr-2" id="interfaces-loading-tab" data-toggle="tab" href="#interfaces-loading" role="tab" aria-controls="interfaces-loading" aria-selected="false">INTERFACES</a>
            </li>
          </ul>
          <div class="tab-content tab-no-active-fill-tab-content">
            <div class="tab-pane fade show active" id="cards" role="tabpanel" aria-labelledby="cards">
              <div class="d-lg-flex justify-content-between">
               <div class="table-responsive">
                <table id="linecards_table_2" class="table table-hover table-bordered"
                data-toggle="table"
                data-search="true"
                data-sortable="true"
                data-pagination="true"
                data-page-size="4"
                data-total-rows="4"
                data-show-columns="true">
                <thead class="thead-light">
                  <tr>
                    <th data-field="card_slot" data-sortable="true">CARD SLOT</th>
                    <th data-field="card_name" data-sortable="true">CARD TYPE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for node in cards %}
                    <td>{{node.card_slot}}</td>
                    <td>{{node.card_name}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--endfirst-->
        <div class="tab-pane fade" id="interfaces-loading" role="tabpanel" aria-labelledby="interfaces-loading-tab">
          <div class="d-flex justify-content-between">
           <div class="table-responsive">
            <table id="interface_table" class="table table-hover table-bordered"
            data-toggle="table"
            data-search="true"
            data-sortable="true"
            data-pagination="true"
            data-page-size="10"
            data-total-rows="10"
            data-show-columns="true">
            <thead class="thead-light">
              <tr>
                <th data-field="interface_name" data-sortable="true">INTERFACE NAME</th>
                <th data-field="interface_status" data-sortable="true">INTERFACE STATUS</th>
                <th data-field="interface_speed" data-sortable="true">INTERFACE SPEED</th>
                <th data-field="router_name" data-sortable="true">ROUTER NAME</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for interface in values %}
                <td>{{interface.interface_name}}</td>
                <td>{{interface.interface_status}}</td>
                <td>{{interface.interface_speed}}</td>
                <td>{{interface.router_name}}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/echarts/dist/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='custom/topology/create_graph.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/d3.js/d3.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename ='chassis_inv.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename ='interface_bar.js') }}"></script>
  <script>

  var rtr_inventory = {{cards_inv|tojson}}
  var rtr_interfaces = {{rtr_interfaces|tojson}}

  generate_{{router_model_js}}(rtr_inventory)
  interface_bar(rtr_interfaces)

</script>
{% endblock javascripts %}
