{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
  {{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <!-- Include modal for adding links -->
  {% include 'modal_add_link.html' %}
  <!-- Include modal for loading screen -->
  {% include 'modal_loading_screen.html' %}
  <!-- Include modal for netflow -->
  {% include 'modal_netflow.html' %}
  <!-- Include modal for topology -->
  {% include 'modal_topology.html' %}
  <!-- Include modal for save model -->
  {% include 'modal_save_model.html' %}
  <!-- Include modal for load model -->
  {% include 'modal_load_model.html' %}
  <!-- Include modal for add_demands model -->
  {% include 'modal_add_demands.html' %}

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">

<!-- 1st Row -->
      <div class="row  justify-content-md-center">
       <div class="col-lg-3 grid-margin stretch-card-none">
                            <div class="card">
                                <div class="card-body pb-0">
                                    <h4 class="card-title">Total Cards</h4>
                      <div class="row">
                        <div class="col-sm-12 mt-4 mt-lg-0">
                          <div class="px-4 py-4">
                            <div class="row">
                              <div class="col-lg-6 pl-lg-5">
                                <h2 class="text-primary font-weight-bold">{{counters['cards']}}</h2>
                              </div>
                              <div class="col-lg-6 pl-lg-5">
                        				<i class="fas fa-th-list fa-2x"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                                    </div>
                                </div>
                            </div>

<div class="col-lg-3 grid-margin stretch-card-none">
  <div class="card">
    <div class="card-body pb-0">
      <h4 class="card-title">Total Interfaces</h4>
      <div class="row">
        <div class="col-lg-12 mt-4 mt-lg-0">
          <div class="px-4 py-4">
            <div class="row">
              <div class="col-lg-6 pl-lg-5">
                <h2 class="text-primary font-weight-bold">{{counters['interfaces']}}</h2>
              </div>
              <div class="col-sm-6 pl-lg-5">
                <i class="fas fa-th-list fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                        <div class="col-lg-5 grid-margin stretch-card float-right">
                            <div class="card">
                                <div class="card-body pb-0">
                                    <h4 class="card-title">Network Interface Status</h4>
                                    <canvas id="interfaces_status"></canvas>
                                </div>
                            </div>
                        </div>

<!-- end second form -->
         </div>
<!--end 1st row -->

<!-- 2rd Row -->
              <div class="row">
                <div class="col-sm-12 grid-margin d-flex stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-2">Network Inventory</h4>
                        <div class="dropdown">
                          <a href="#" class="text-primary btn btn-link  px-1"><i class="mdi mdi-refresh"></i></a>
                        </div>
                      </div>

                        <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active pl-2 pr-2" id="cards-tab" data-toggle="tab" href="#cards" role="tab" aria-controls="cards" aria-selected="true">CARDS</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="interfaces-loading-tab" data-toggle="tab" href="#interfaces-loading" role="tab" aria-controls="interfaces-loading" aria-selected="false">INTERFACES</a>
                          </li>
                        </ul>


                        <div class="tab-content tab-no-active-fill-tab-content">
                          <!--first-->
                          <div class="tab-pane fade show active" id="cards" role="tabpanel" aria-labelledby="cards">
                            <div class="d-lg-flex justify-content-between">
                             <div class="table-responsive">
                              <table id="linecards_table_2" class="table table-hover table-bordered"
                                      data-toggle="table"
                                      data-search="true"
                                      data-sortable="true"
                                      data-pagination="true"
                                      data-page-size="4"
                                      data-total-rows="4"
                                      data-show-columns="true">
                                <thead class="thead-light">
                                  <tr>
                                    <th data-field="card_slot" data-sortable="true">CARD SLOT</th>
                                    <th data-field="card_name" data-sortable="true">CARD TYPE</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    {% for node in cards %}
                                    <td>{{node.card_slot}}</td>
                                    <td>{{node.card_name}}</td>
                                  </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                              </div>
                            </div>
                          </div>
                          <!--endfirst-->
                          <div class="tab-pane fade" id="interfaces-loading" role="tabpanel" aria-labelledby="interfaces-loading-tab">
                            <div class="d-flex justify-content-between">
                             <div class="table-responsive">
                              <table id="interface_table" class="table table-hover table-bordered"
                                      data-toggle="table"
                                      data-search="true"
                                      data-sortable="true"
                                      data-pagination="true"
                                      data-page-size="10"
                                      data-total-rows="10"
                                      data-show-columns="true">
                                <thead class="thead-light">
                                  <tr>
                                    <th data-field="interface_name" data-sortable="true">INTERFACE NAME</th>
                                    <th data-field="interface_status" data-sortable="true">INTERFACE STATUS</th>
                                    <th data-field="interface_speed" data-sortable="true">INTERFACE SPEED</th>
                                    <th data-field="router_name" data-sortable="true">ROUTER NAME</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    {% for interface in interfaces %}
                                    <td>{{interface.interface_name}}</td>
                                    <td>{{interface.interface_status}}</td>
                                    <td>{{interface.interface_speed}}</td>
                                    <td>{{interface.router_name}}</td>
                                  </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                              </div>
                            </div>
                          </div><!--end second -->
                        </div>
                      </div>
                    </div>

                            <div class="tab-pane fade" id="interfaces-loading" role="tabpanel" aria-labelledby="interfaces-loading-tab">
                                <div class="d-flex justify-content-between">
                                  <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                      <thead>
                                        <tr>
                                          <th>NAME</th>
                                          <th>IP</th>
                                          <th>LOCATION</th>
                                          <th>VENDOR</th>
                                          <th>MODEL</th>
                                          <th>VERSION</th>
                                          <th>TACACS</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>PE1</td>
                                          <td>10.1.1.1</td>
                                          <td>US</td>
                                          <td>JUNIPER</td>
                                          <td>MX204</td>
                                          <td>DEFAULT</td>
                                          <td><label class="badge badge-danger">Pending</label></td>
                                        </tr>
                                        <tr>
                                          <td>PE2</td>
                                          <td>10.1.1.1</td>
                                          <td>US</td>
                                          <td>JUNIPER</td>
                                          <td>MX204</td>
                                          <td>DEFAULT</td>
                                          <td><label class="badge badge-danger">Pending</label></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <canvas id="serveLoading"></canvas>
                            </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('home_blueprint.static', filename='home.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  <script>
  //create pie graphs
  {% for property, counters in interfaces_status.items() %}

    var div_id = '{{ property }}'
    var data_labels = []
    var data_values = []

   {% for labels, values in counters.items() %}
     data_labels.push('{{ labels }}')
     data_values.push({{ values }})
   {% endfor %}
  generate_pie(div_id,data_values,data_labels)
  {% endfor %}
 </script>
{% endblock javascripts %}
