{% extends "base_site.html" %}

{% block title %} Basic App Config {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
  <!-- bootsrap table -->
  <link href="{{ url_for('static', filename='vendors/bootstrap-table/bootstrap-table.css') }}" rel="stylesheet">
  <!-- x-editable -->
  <link href="{{ url_for('static', filename='vendors/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
  <!--alertify -->
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/themes/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/alertify.css') }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

<!-- Modal used for loading screen -->
<div class="modal fade " id="modal-top1" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <div id="PageContent">
          <div id="loadingIndicatorCtn">
            <div class="loadingIndicator">
              <h1><span class="label label-info">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:30px;color:"blue""></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loading...</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-16 col-sm-16 col-xs-16 col-lg-16">
        <div class="x_panel">
          <div class="x_title">
            <div class="page-title">
              <div class="title_left">
                <h3>LnetD Add new Tacacs Info</h3>
              </div>
            </div>
          </div>
 <div class="row">
            <div class="animate form col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <form id="app-config-form">
                    <div class="form-group float-label-control">
                        <label for="">Tacacs Name</label>
                        <input type="text" name='name' class="form-control required" >
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">User Name</label>
                        <input type="text" name='username' class="form-control required">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Password</label>
                        <input type="password" name='password' class="form-control required" >
                    </div>
                </form>
              <button type="button" class="btn btn-success" onclick="app_add_tacacs()">Add Tacacs</button>
            </div>
            </div>
<div class="clearfix"></div>
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Existing TACACS Info</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
         {% for node in values %}
                  <tr>
                    <td>{{node.id}}</td>
                    <td>{{node.name}}</td>
                    <td>{{node.username}}</td>
                    <td>{{node.password}}</td>
                    <td><button type="button" tacacs_id="{{node.id}}"class="graph2-btn btn btn-danger btn-rounded btn-sm my-0">Delete</button>
                  </tr>
        {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Bootsrap table -->
  <script src="{{ url_for('static', filename='vendors/bootstrap-table/bootstrap-table.js') }}"></script>
  <!-- Bootstrap editable extension -->
  <script src="{{ url_for('static', filename='vendors/bootstrap-table/extensions/editable/bootstrap-table-editable.js') }}"></script>
  <!-- x-editable externsion -->
  <script src="{{ url_for('static', filename='vendors/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
  <!-- alertifyjs -->
  <script src="{{ url_for('static', filename='vendors/alertifyjs/alertify.min.js') }}"></script>
  <!-- Datatables
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <!-- Just to test -->
  <script src="https://gitcdn.link/repo/xcash/bootstrap-autocomplete/master/dist/latest/bootstrap-autocomplete.min.js"></script>

<script>
function app_add_tacacs() {
  if ($('app-config-form')) {
    $('#modal-top1').modal('toggle');
    $.ajax({
      type: 'POST',
      url: '/admin/app_add_tacacs',
      dataType: 'json',
      data: $('#app-config-form').serialize(),
      error: function(result) { alertify.notify('error', 'error', 5); $('#modal-top1').modal('toggle') },
      success: function(result) {
        alertify.notify('Tacacs added', 'success', 5);
        $('#modal-top1').modal('toggle') ;
        setTimeout(location.reload.bind(location), 500);
      }
    });
  }}

$('.graph2-btn').on('click', function (e) {
    var tacacs_id = $(this).attr('tacacs_id')
    $('#modal-top1').modal('toggle')
    url_delete = {{ url_for('admin_blueprint.delete_object')|tojson }}+"?type=Tacacs&id="+tacacs_id
    console.log(url_delete,{{url_for('admin_blueprint.delete_object')|tojson}})
    $.ajax({
      type: 'POST',
      url: url_delete,
      dataType: 'json',
      error: function(result) { alertify.notify('error', 'error', 5); $('#modal-top1').modal('toggle')},
      success: function(result) {
        alertify.notify('Tacacs deleted', 'success', 5);
        setTimeout(location.reload.bind(location), 500);
      }
    })
})
</script>

{% endblock javascripts %}
