{% extends "base_site.html" %}

{% block title %} Basic App Config {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <!--alertify -->
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/themes/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/alertify.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<div>
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-16 col-sm-16 col-xs-16 col-lg-16">
        <div class="x_panel">
          <div class="x_title">
            <div class="page-title">
              <div class="title_left">
                <h3>LnetD App Config</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="animate form">
              <form id="app-config-form">
                <div class="form-group float-label-control">
                  <label for="">ASN</label>
                  <input type="text" name='asn' class="form-control required" value={{asn}}>
                </div>
                <div class="form-group float-label-control">
                  <label for="">WEB_IP</label>
                  <input type="text" name='web_ip' class="form-control required" value={{web_ip}}>
                </div>
                <div class="form-group float-label-control">
                  <label for="">INFLUX_IP</label>
                  <input type="text" name='influx_ip' class="form-control required" value={{influx_ip}}>
                </div>
                <div class="form-group float-label-control">
                  <label for="">NB_URL</label>
                  <input type="text" name='nb_url' class="form-control required" value={{nb_url}}>
                </div>
                <div class="form-group float-label-control">
                  <label for="">NB_TOKEN</label>
                  <input type="text" name='nb_token' class="form-control required" value={{nb_token}}>
                </div>
                <div class="form-group float-label-control">
                  <label for="">MASTER KEY</label>
                  <input type="text" name='master_key' class="form-control required" value={{master_key}}>
                </div>
              </form>
              <button type="button" class="btn btn-success" onclick="app_config_save()">Save config</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- alertifyjs -->
  <script src="{{ url_for('static', filename='vendors/alertifyjs/alertify.min.js') }}"></script>
<script>
function app_config_save() {
  if ($('app-config-form')) {
    $.ajax({
      type: 'POST',
      url: '/admin/app_config_save',
      dataType: 'json',
      data: $('#app-config-form').serialize(),
      error: function(result) { alertify.notify('error', 'error', 5);},
      success: function(result) { alertify.notify('Config Saved', 'success', 5);}
    });
  }
}
</script>

{% endblock javascripts %}
