protocols {
        bgp {
            group {{vars['peer_group']}} {
                neighbor {{vars['ip']}} {
                description "{{vars['description']}}";
                   {% if vars['ip_version'] == 6 -%}
                    family inet6 {
                        unicast {
                            prefix-limit {
                                maximum {{vars['ipv6_limit']}};
                                teardown 80;
                            }
                        }
                    }
                   {% elif vars['ip_version'] == 4 -%}
                    family inet {
                        unicast {
                            prefix-limit {
                                maximum {{vars['ipv4_limit']}};
                                teardown 80;
                            }
                        }
                    }
                   {% endif -%}
                    peer-as {{vars['asn']}};
                }
            }
        }
    }
