.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link-static {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link-static:hover {
  stroke-opacity: .5;
}
