{% extends "base_site.html" %}

{% block title %} Cost Report {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<!--Edit links -->
<div id="add-link" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true></span>
        </button>
        <h4 class="modal-title" id="title">Add link </h4>
      </div>
      <form id="add-link-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
        <div class="modal-body">
          <div class="form-group" style="height: 350px">
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">PROVIDER</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="provider_add" name="provider_add" placeholder="name of the provider" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">PoP</label>
                        <div class="col-md-6">
                            <select class="form-control" id="pop_name_add" name="pop_name_add">
                            {% for item in ['all'] %}
                             <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">COMMIT(mbps)</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="commit_add" name="commit_add" placeholder="commit rate in mbps" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">COMMIT COST($)</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="commit_cost_add" name="commit_cost_add" placeholder="total commit cost in $" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">BURST($ mbps)</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="burst_cost_add" name="burst_cost_add" placeholder="burst mbps cost in $" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
        </div>
</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="editObject()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Links -->



<!--Begin main content -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 pb-2">
          <div class="d-flex align-items-center justify-content-between">
          </div>
        </div>
      </div>

      <div class="row">
      <div class="col-sm-12 grid-margin d-flex stretch-card">
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Transit Billing Report</h4>
              <p class="card-description pb-3">
                    This will calculate the total billing cost for
                    <code>Transit Contracts</code> taking into account <code>commit rate and cost</code>
		    <br>and per mbps cost for burstable traffic using Interval <code> {{start_interval}} - {{end_interval}} </code><br>
              </p>
          <button class="btn btn-primary btn-success mb-2" onclick="javascript:add_entry();">Add Entry</button>
            <button class="btn btn-primary btn-error mb-2" onclick="javascript:delete_from_table();">Delete Selected</button>
            <button class="btn btn-primary btn-success mb-2" onclick="javascript:save_topology();">Save External Topology</button>
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="table-responsive">
                  <table id="cost_table" class="table table-hover table-bordered"
                  data-unique-id="index"
                  data-toggle="table"
                  data-search="true"
                  data-sortable="true"
                  data-pagination="true"
                  data-page-size="8"
                  data-total-rows="8"
                  data-click-to-select="false"
                  data-single-select="true"
                  data-show-columns="true">
                  <thead class="thead-light">
                    <tr>
                      <th data-field="state" data-class="hide_me1" data-checkbox="true" data-sortable="false">State</th>
                      <th data-field="index" data-class="hide_me" data-sortable="false">INDEX</th>
                      <th data-field="provider" data-sortable="true" data-editable="true">PROVIDER</th>
                      <th data-field="pop_name" data-sortable="true" data-editable="false">POP</th>
                      <th data-field="commit" data-sortable="true" data-editable="true">COMMIT(mbps)</th>
                      <th data-field="commit_cost" data-sortable="true" data-editable="true">COMMIT COST($)</th>
		      <th data-field="util" data-sortable="true" data-editable="false">UTIL(mbps)</th>
                      <th data-field="burst" data-class="hide_me1" data-sortable="true">BURST(mbps)</th>
                      <th data-field="burst_cost" data-class="hide_me1" data-sortable="true" data-editable="true">BURST($ per mbps)</th>
                      <th data-field="total" data-class="hide_me1" data-sortable="true">BILLING COST($)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% for node in values %}
                      <td></td>
                      <td>{{node.index}}</td>
                      <td>{{node.provider}}</td>
                      <td>{{node.pop_name}}</td>
                      <td>{{node.commit}}</td>
                      <td>{{node.commit_cost}}</td>
                      <td>{{node.util}}</td>
                      <td>{{node.burst}}</td>
                      <td>{{node.burst_cost}}</td>
                      <td>{{node.total}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
</div>
</div>
      <div class="row  justify-content-md-left">
        {% for item in values %}
        <div class="col-lg-6 grid-margin stretch-card-none">
          <div class="card">
            <div class="card-body pb-0">
              <h4 class="card-title text-uppercase ">{{item['Provider']}}</h4>
              <div class="row">
                <div class="col-sm-12 mt-4 mt-lg-0">
                  <div class="px-4 py-4">
                    <div class="row">
                      <div class="col-sm-12 pl-lg-4">
                        <div id="{{item['index']}}div_id">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


    </div>
  </div>
</div>
</div>
</div>



<!-- End main content -->

{% endblock content %}

{% block javascripts %}
  {{ super() }}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>

<script>
  var web_ip = {{app_config|tojson|safe}};
  var cost_values = {{values|tojson|safe}}


function generate_bar(entry){
 var trace1 = {
  x: [entry['provider']+"-"+entry['pop_name']],
  y: [entry['commit']],
  name: 'COMMIT',
  type: 'bar'
 };

 var trace2 = {
  x: [entry['provider']+"-"+entry['pop_name']],
  y: [entry['burst']],
  name: 'EXCEED',
  type: 'bar'
 };

 var trace3 = {
  x: [entry['provider']+"-"+entry['pop_name']],
  y: [entry['util']],
  name: 'UTIL',
  mode: 'lines',
 };

 var data = [trace1, trace2, trace3 ];

 var layout = {barmode: 'stack',
        shapes: [{
            type: 'line',
	    xref: 'paper',
            x0: 0,
            y0: entry['util'],
            x1: 1,
            y1: entry['util'],
            line: {
                color: 'green',
                width: 3,
                dash: 'dashdot'
            }
        }],
        yaxis: {
            fixedrange: false,
            autotick: true,
            autorange: true,
            tickformat: ".s",
            title: 'Mbps'
        },
	height: 380,
 	title: 'Traffic ' + entry['provider']+"-"+entry['pop_name'],
        margin: {
         l: 60,
         r: 0,
         b: 40,
         t: 30,
         pad: 0,
        },
	bargap: 0.4
	       };
  Plotly.newPlot(entry['index']+'div_id', data, layout, {scrollZoom: false,displayModeBar: false});
}

 cost_values.forEach(function(d) {generate_bar(d) })

  function editObject() {
   if ($('#add-link-form').parsley().validate() ) {
    var cost_table = $('#cost_table')
    count = cost_table.bootstrapTable('getOptions').totalRows
    var entry = $('#add-link-form').serializeArray()
    console.log(entry)
    provider = entry[0].value
    pop_name = entry[1].value
    commit = entry[2].value
    commit_cost = entry[3].value
    burst = 0
    burst_cost = entry[4].value
    id = count + 1
    util = 0
    total = 0
    row = {'index': id,
          'state':'false',
          'provider':provider,
          'pop_name':pop_name,
          'commit':commit,
          'commit_cost':commit_cost,
 	  'util':util,
          'burst':burst,
          'burst_cost':burst_cost,
          'total': total,
	  }
    console.log(row)
    cost_table.bootstrapTable('insertRow', {index: id , row: row})
    alertify.notify("Entry Added - Entry id is: " + id , 'success', 5)
    cost_table.bootstrapTable('scrollTo', 'bottom')
   }

  }
  function add_entry(){
   //modal up
   $('#add-link').modal('toggle')
  }
  function delete_from_table(){
   //get selection
   var cost_table = $('#cost_table')
   selected = cost_table.bootstrapTable('getSelections')
   console.log(selected)
   if (selected.length >0) {
    //delete entry
    cost_table.bootstrapTable('removeByUniqueId', selected[0]['index'])
    }
  }

$('#cost_table').on('all.bs.table', function () {
  $('.toggle-event').bootstrapToggle()
})

function save_topology(){
  event.preventDefault();
  var cost_table = $('#cost_table')
  cost_table.bootstrapTable("resetSearch","");
  var all_data_pre = cost_table.bootstrapTable('getData', false)
  var all_data = JSON.parse(JSON.stringify(all_data_pre))
  validKeys = ['index','provider','pop_name','commit','commit_cost','burst_cost']
  all_data.forEach( function (d) {
   Object.keys(d).forEach((key) => validKeys.includes(key) || delete d[key] );
  })
  console.log('this is the save data',all_data)
  var all_data_json = encodeURIComponent(JSON.stringify(all_data));

  url = {{ url_for('map_blueprint.save_cost_table')|tojson }}+'?arr='+all_data_json
  var saveData = $.ajax({
        type: 'POST',
        url: url,
        dataType: "text",
        success: function(resultData) { alertify.notify("Transit Billing Table Saved ", 'success', 5) },
        error: function() { alertify.notify("Something went wrong",'error',5)  }
  });
  cost_table.bootstrapTable('refresh')
}


  $( document ).ready(function() {

    var cost_table = $('#cost_table')

    var cost_table_data = cost_table.bootstrapTable('getData');

  });

  $('#cost_table').on('page-change.bs.table', function () {
   $('.toggle-event').bootstrapToggle()
  })

</script>

{% endblock javascripts %}
