{% extends "base_site.html" %}

{% block title %} ISIS Model What If Demand {% endblock title %}

{% block stylesheets %}
  {{ super() }}

{% endblock stylesheets %}

{% block content %}
<!--Edit links -->
<div id="add-link" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true></span>
        </button>
        <h4 class="modal-title" id="title">Add link </h4>
      </div>
      <form id="add-link-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
        <div class="modal-body">
          <div class="form-group" style="height: 350px">
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Source</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="source_add" name="source_add" placeholder="source" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Target</label>
                        <div class="col-md-6">
                            <select class="form-control" id="target_add" name="target_add">
                            {% for item in router_name %}
                             <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Interface</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="interface_add" name="interface_add" placeholder="r_ip" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Cir</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="cir_add" name="cir_add" placeholder="cir in mbps" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Type</label>
                        <div class="col-md-6">
                              <select class="form-control" id="type_add" name="type_add">
                                    <option>transit</option>
                                    <option>peering</option>
                                    <option>cdn</option>
                              </select>
                            <div class="help-block with-errors"></div>
                        </div>
        </div>
</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="editObject()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Links -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit P&T Map</h4>
              <p class="card-description pb-3">
                    Edit Peering and transit map. This is the input for
                    <code>External Topology</code> in <code>Peering and transit menu</code> <br>
              </p>
              <div class="row justify-content-left pb-5">
                <form class="form-inline" onsubmit="save_topology();return false;">
                <div class="form-group input-group"></div>
                <div class="form-group mx-sm-3 input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-success" type="submit" name="run_model">Save Links</button>
                  </span>
                </div>
                <div class="form-group mx-sm-3 input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#add-link">Add Node/Link</button>
                  </span>
                </div>
                <div class="form-group mx-sm-3 input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-warning" onclick="reset_changes()">Cancel changes</button>
                  </span>
                </div>
               </form>
              </div>
              <div class="row justify-content-left pb-5 table-responsive ">
                <table id="table" data-toggle="false"
                data-search= "true"
                data-show-columes="true"
                data-pagination="false"
                data-click-to-select="true"
                data-id-field="index"
                class="table table-striped table-bordered table-condensed table-responsive">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
<script>

function save_topology(){
  event.preventDefault();
  $('#table').bootstrapTable('resetSearch', '');
	var jsonTable = new JSONTable($("#table"))
	var new_data= jsonTable.toJSON()
	var new_data = encodeURIComponent(JSON.stringify(new_data));
        url = {{ url_for('api_blueprint.save_topology')|tojson }}+'?arr='+new_data
	var saveData = $.ajax({
	      type: 'POST',
	      url: url,
	      dataType: "text",
	      success: function(resultData) { alertify.notify("Peering and Transit Topology Saved ", 'success', 5) }
	});
	saveData.error(function() { alertify.notify("Something went wrong",'error',5); });
}

//delete row if button with .ibtnDel click
$("#table").on("click", ".ibtnDel", function (e, value, row, index) {
  //$(this).closest("tr").remove();
  alertify.notify("Link removed ..... ", 'error', 5)
  var $table = $('#table')
  var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
    return row.id; });
  $('#table').bootstrapTable('remove', {
        field: 'id',
        values: ids});
})

//function to add another row ( add both the form and reverse )
function editObject() {
  if ($('#add-link-form').parsley().validate() ) {
    var entry = $('#add-link-form').serializeArray()
    var newRow = $("<tr>");
    var cols = "";
  	cols += '<td>' + Math.floor(Math.random() * 900) + '</td>';
        cols += '<td>' + Math.floor(Math.random() * 900) + '</td>';
  	cols += '<td>' + Math.floor(Math.random() * 900) + '</td>';
  	cols += '<td>' + entry[0].value + '</td>'; //source
  	cols += '<td>' + entry[1].value + '</td>'; //target
  	cols += '<td>' + entry[1].value + '</td>'; //Node
  	cols += '<td>' + entry[2].value + '</td>'; //Interface
  	cols += '<td>' + 'in' + '</td>'; //direction
    cols += '<td>' + 'cloud' + '</td>'; //Source Icon
    cols += '<td>' + 'router' + '</td>'; //Target Icon
        cols += '<td>' + entry[3].value + '</td>'; //CIR
        cols += '<td>' + entry[4].value + '</td>'; //Type
    cols += '<td><input type="button" class="ibtnDel btn btn-sm btn-danger "  value="Delete"></td>';
    cols += '</tr>'
    newRow.append(cols);
    console.log('new row',newRow)
    $("#table").append(newRow);

        //reverse
        var newRow_rev = $("<tr>");
        var cols_rev = "";
        cols_rev += '<td>' + Math.floor(Math.random() * 900) + '</td>';
        cols_rev += '<td>' + Math.floor(Math.random() * 900) + '</td>';
        cols_rev += '<td>' + Math.floor(Math.random() * 900) + '</td>';
        cols_rev += '<td>' + entry[1].value + '</td>'; //source
        cols_rev += '<td>' + entry[0].value + '</td>'; //target
        cols_rev += '<td>' + entry[1].value + '</td>'; //Node
        cols_rev += '<td>' + entry[2].value + '</td>'; //Interface
        cols_rev += '<td>' + 'out' + '</td>'; //direction
        cols_rev += '<td>' + 'router' + '</td>'; //Source Icon
        cols_rev += '<td>' + 'cloud' + '</td>'; //Target Icon
        cols_rev += '<td>' + entry[3].value + '</td>'; //CIR
        cols_rev += '<td>' + entry[4].value + '</td>'; //Type
        cols_rev += '<td><input type="button" class="ibtnDel btn btn-sm btn-danger "  value="Delete"></td>';
        cols_rev += '</tr>'
        console.log(cols_rev)
        newRow_rev.append(cols_rev);
        $("#table").append(newRow_rev);

    //reload data into the table to allow modify of the metric
    var jsonTable = new JSONTable($("#table"))
    var new_data= jsonTable.toJSON()
  	$('#table').bootstrapTable("load", new_data);
    alertify.notify("Link added ..... ", 'success', 5)}}

  // bootstrap table from flask variables
   $(window).on('load', function () {
    var data = {{values|tojson}};
    console.log(data)
    var columns = {{columns|tojson}};
   $(function() {
     $('#table').bootstrapTable ({
        data: data,
        columns: columns,});
           });
        });

//insert delete button for all rows
function TableActions (value, row, index) {
            return [
                '<input type="button" class=" ibtnDel btn btn-sm btn-danger "  value="Delete">'
            ].join('');
        }


   // reset table and remove existing demand or metric change
   function reset_changes() {
     var data = {{values|tojson}};
     //console.log('-----data is : ' , data.length)
     if ( data.length == null) {
          $('#table').bootstrapTable('removeAll')
     }
     else {
     $('#table').bootstrapTable("load", data);
     }
   }
</script>

{% endblock javascripts %}
