{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<!--Edit links -->
<div id="add-link" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true></span>
        </button>
        <h4 class="modal-title" id="title">Add link </h4>
      </div>
      <form id="add-link-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
        <div class="modal-body">
          <div class="form-group" style="height: 350px">
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Source</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="source_add" name="source_add" placeholder="source" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Target</label>
                        <div class="col-md-6">
                            <select class="form-control" id="target_add" name="target_add">
                            {% for item in router_name|sort %}
                             <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Interface</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="interface_add" name="interface_add" placeholder="r_ip" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Cir</label>
                        <div class="col-md-6">
                            <input class="form-control validate" id="cir_add" name="cir_add" placeholder="cir in mbps" required autofocus>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label class="control-label col-md-4 col-sm-4 col-xs-4">Type</label>
                        <div class="col-md-6">
                              <select class="form-control" id="type_add" name="type_add">
                                    <option>transit</option>
                                    <option>peering</option>
                                    <option>cdn</option>
                              </select>
                            <div class="help-block with-errors"></div>
                        </div>
        </div>
</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="editObject()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Links -->



<!--Begin main content -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 pb-2">
          <div class="d-flex align-items-center justify-content-between">
          </div>
        </div>
      </div>

      <div class="row">
      <div class="col-sm-12 grid-margin d-flex stretch-card">
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Edit Peering and Transit Map</h4>
              <p class="card-description pb-3">
                    This is the input for
                    <code>External Topology</code> in <code>Peering and transit menu</code>
		    <br>Alert toggle for traffic util with value greater than the threshold defined in config<br>
              </p>
          <button class="btn btn-primary btn-success mb-2" onclick="javascript:add_entry();">Add Entry</button>
            <button class="btn btn-primary btn-error mb-2" onclick="javascript:delete_from_table();">Delete Selected</button>
            <button class="btn btn-primary btn-success mb-2" onclick="javascript:save_topology();">Save External Topology</button>
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="table-responsive">
                  <table id="external_table" class="table table-hover table-bordered"
                  data-unique-id="index"
                  data-toggle="table"
                  data-search="true"
                  data-sortable="true"
                  data-pagination="true"
                  data-page-size="8"
                  data-total-rows="8"
                  data-click-to-select="false"
                  data-single-select="true"
                  data-show-columns="true">
                  <thead class="thead-light">
                    <tr>
                      <th data-field="state" data-class="hide_me1" data-checkbox="true" data-sortable="false">State</th>
                      <th data-field="index" data-class="hide_me1" data-sortable="false">INDEX</th>
                      <th data-field="source" data-sortable="true" data-editable="true">SOURCE</th>
                      <th data-field="target" data-sortable="true" data-editable="true">TARGET</th>
                      <th data-field="node" data-sortable="true" data-editable="true">NODE</th>
                      <th data-field="interface" data-sortable="true" data-editable="true">INTERFACE</th>
                      <th data-field="direction" data-class="hide_me" data-sortable="true">DIRECTION</th>
                      <th data-field="src_icon" data-class="hide_me" data-sortable="true">SRC_ICON</th>
                      <th data-field="tar_icon" data-class="hide_me" data-sortable="true">TAR_ICON</th>
                      <th data-field="cir" data-class="hide_me" data-sortable="true" data-editable="true">CIR</th>
                      <th data-field="type"  data-escape="true" data-sortable="false" data-editable="true">TYPE</th>
                      <th data-field="alert_button" data-formatter="alert_formated" data-sortable="true">ALERT</th>
                      <th data-field="alert_status" data-class="hide_me" data-sortable="true">ALERT VAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% for node in values %}
                      <td></td>
                      <td>{{node.index}}</td>
                      <td>{{node.source}}</td>
                      <td>{{node.target}}</td>
                      <td>{{node.node}}</td>
                      <td>{{node.interface}}</td>
                      <td>{{node.direction}}</td>
                      <td>{{node.src_icon}}</td>
                      <td>{{node.tar_icon}}</td>
                      <td>{{node.cir}}</td>
                      <td>{{node.type}}</td>
                      <td>{{node.alert_button}}</td>
                      <td>{{node.alert_status}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- End main content -->

{% endblock content %}

{% block javascripts %}
  {{ super() }}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>

<script>
  var web_ip = {{app_config.web_ip|tojson|safe}};
  var external_links = {{values|tojson|safe}}


//
function alert_formated(value,row){
 if (row.alert_status ==1){
  return `<input class="toggle-event"
                         type="checkbox" data-on="UP" data-off="DOWN"
                         data-onstyle="success" checked
                         data-toggle="toggle" id="toggle-event-alert-status"
                         data-size="mini" data-width="60">`
  }
 else{
  return `<input class="toggle-event"
                         type="checkbox" data-on="UP" data-off="DOWN"
                         data-onstyle="success" 
                         data-toggle="toggle" id="toggle-event-alert-status"
                         data-size="mini" data-width="60">`
 }
}

 var router_name = {{router_name|tojson}}
 var router_name = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: router_name
  });

$('.typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'router_name',
    source: router_name
  }
);


  function editObject() {
   if ($('#add-link-form').parsley().validate() ) {
    var external_table = $('#external_table')
    count = external_table.bootstrapTable('getOptions').totalRows
    var entry = $('#add-link-form').serializeArray()
    console.log(entry)
    source = entry[0].value
    target = entry[1].value
    interface = entry[2].value
    node = entry[1].value
    type = entry[4].value
    cir = entry[3].value
    id = count + 1
    row = {'index': id, 
          'state':'false',
          'source':source,
          'target':target,
          'interface':interface,
          'alert_button':'alert_button',
          'alert_status':'1',
          'node':node,
          'direction': 'in',
          'src_icon': 'cloud',
          'tar_icon': 'router',
          'type': type,
          'cir': cir}
    row_reverse = {
          'index': id + 1,
          'state':'false',
          'source':target,
          'target':source,
          'interface':interface,
          'alert_button':'alert_button',
          'alert_status':'1',
          'node':node,
          'direction': 'out',
          'src_icon': 'router',
          'tar_icon': 'cloud',
          'type': type,
          'cir': cir
    }
    console.log(row)
    console.log(row_reverse)
    external_table.bootstrapTable('insertRow', {index: id , row: row})
    external_table.bootstrapTable('insertRow', {index: id , row: row_reverse})
    alertify.notify("Entry Added - Entry id is: " + id , 'success', 5)
    external_table.bootstrapTable('scrollTo', 'bottom')
   }
   
  } 
  function add_entry(){
   //modal up
   $('#add-link').modal('toggle')
  }
  function delete_from_table(){
   //get selection
   var external_table = $('#external_table')
   selected = external_table.bootstrapTable('getSelections')
   console.log(selected)
   if (selected.length >0) {
    //delete entry
    external_table.bootstrapTable('removeByUniqueId', selected[0]['index'])
    }
  }

$('#external_table').on('all.bs.table', function () {
  $('.toggle-event').bootstrapToggle()
})

function save_topology(){
  event.preventDefault();
  var external_table = $('#external_table')
  external_table.bootstrapTable("resetSearch","");
  var all_data_pre = external_table.bootstrapTable('getData', false)
  var all_data = JSON.parse(JSON.stringify(all_data_pre))
  validKeys = ['index','source','target','node','interface','direction','src_icon','tar_icon','cir','alert_status','type']
  all_data.forEach( function (d) { 
   Object.keys(d).forEach((key) => validKeys.includes(key) || delete d[key] );
  })
  console.log('this is the save data',all_data)
  var all_data_json = encodeURIComponent(JSON.stringify(all_data));

  url = {{ url_for('api_blueprint.save_topology')|tojson }}+'?arr='+all_data_json
  var saveData = $.ajax({
        type: 'POST',
        url: url,
        dataType: "text",
        success: function(resultData) { alertify.notify("Peering and Transit Topology Saved ", 'success', 5) },
        error: function() { alertify.notify("Something went wrong",'error',5)  }
  });
  noc_table.bootstrapTable('refresh')
}


  $( document ).ready(function() {

    var external_table = $('#external_table')
    
    var external_table_data = external_table.bootstrapTable('getData');

    $("#external_table").delegate(".toggle-event", "change", function() {
      var row = $(this).closest("tr");
      var row_id = row.data('index')
      var external_table = $('#external_table')
      console.log('this is ',external_table)
      if ($(this).is(':checked')){
        //$(this).bootstrapToggle('on')
        console.log('CHECK')
        if (this.id == 'toggle-event-alert-status'){
           external_table.bootstrapTable('updateCell', {index: row_id , field: 'alert_status', value: '1' , reinit: true })
        }
      }
      else {
        console.log('NO CHECK')
        //$(this).bootstrapToggle('off')
        if (this.id == 'toggle-event-alert-status'){
          external_table.bootstrapTable('updateCell', {index: row_id , field: 'alert_status', value: '0' , reinit: true })
        }
      }

      var external_table_after = external_table.bootstrapTable('getData');
      external_table.bootstrapTable('refresh');
      console.log('this is the date after ',external_table_after)

  })
});

$('#external_table').on('page-change.bs.table', function () {
  $('.toggle-event').bootstrapToggle()
})

</script>

{% endblock javascripts %}
