<!--Edit links -->
<div id="load-model" class="modal fade " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="title">Load Model</h4>
      </div>
      <form id="save-model-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Model Name:</label>
            <div class="col-md-6">
          <select class="selectpicker form-control" name="model_name_load" id="model_name_load">
            <option selected>Load Model</option>
            {% for entry in model_name %}
            <option value={{entry.model_name}}>{{entry.model_name}}</option>
            {% endfor %}
          </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="loadModel()">Load</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Links --> 
