<!-- Add Demands modal Modal -->
<div class="modal fade" id="add_demands_modal" tabindex="-1" role="dialog" aria-labelledby="add_demands_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="netflow_demand_title">Add Demands</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <table id="demands_table" data-toggle="false"
                data-search= "true"
                data-show-columes="true"
                data-pagination="false"
                data-click-to-select="true"
                class="table table-striped table-bordered table-hover">
                </table>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" type="submit" name="add_row_demands" id="add_row_demands">Add entry</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End netflow modal -->
