<!-- Modal used for topology-->
<div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topology view</h5>
	<h3>Topology <button onclick="javascript:node_position_save();" class="btn btn-info">Save Layout</button> </h3>	
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        <div id="legend_div"></div>
        <div class="checkbox" id="spf_div">
          <label>
           <input type="checkbox" id="spf_check" value="">Activate SPF
         </label>
       </div>
       <div class="spf_results x_content" id="sfp_div1"></div>
       <div id="topology"></div> 
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-- End Modal used for topology-->
