{% extends "base_site.html" %}

{% block title %} ISIS Model What If Demand {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
  <!-- bootsrap table -->
  <link href="{{ url_for('static', filename='vendors/bootstrap-table/bootstrap-table.css') }}" rel="stylesheet">  
  <!-- x-editable -->
  <link href="{{ url_for('static', filename='vendors/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
  <!--alertify -->
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/themes/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/alertify.css') }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <!-- Include modal for adding links -->
  {% include 'modal_add_link.html' %}
  <!-- Include modal for loading screen -->
  {% include 'modal_loading_screen.html' %}
  <!-- Include modal for netflow -->
  {% include 'modal_netflow.html' %}
  <!-- Include modal for topology -->
  {% include 'modal_topology.html' %}
<div>  
  <div class="right_col" role="main">
    <div class="row"> 
      <div class="col-md-16 col-sm-16 col-xs-16 col-lg-16">
        <div class="x_panel">
          <div class="x_title">
            <div class="page-title">
              <div class="title_left">
                <h3>Deploy Demand</h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <form class="form-inline" onsubmit="deploy_demand();return false;">
                <div class="form-group form-row input-group">
                  <label for="source_filter" class="sr-only">Source</label>
                  <input type="text" class="form-control input typeahead tt-query" autocomplete="off" name= "source" id="source" placeholder="router as source">
                </div>
                <div class="form-group form-row input-group">
                  <label for="source_filter" class="sr-only">Target</label>
                  <input type="text" class="form-control input typeahead tt-query" name= "target" id="target" placeholder="router as target">
                </div>
                <div class="form-group mx-sm-3 form-row input-group">
                  <label for="target_filter" class="sr-only">Demand</label>
                  <input type="text" class="form-control input typeahead" id="demand" placeholder="demand in Mbps">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-success btn-sm" type="submit" name="deploy">Deploy Demand</button>
                  </span>
                </div>
              </form>
              <!-- New form for reset -->
              <form class="form-inline" onsubmit="reset_demand();return false;">
                <div class="form-group mx-sm-3 form-row input-group">
                  <div class="checkbox" class="form-control input" id="deploy_netflow_demands">
                    <label>
                      <input type="checkbox" id="netflow_demands" value="">Use Netflow Demands as well
                    </label>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary btn-warning btn-sm" data-toggle="modal" data-target="#netflow_modal">
                      Show existing Netflow Demands</button>
                      <button class="btn btn-primary btn-warning btn-sm" type="submit" name="deploy">Reset all</button>
                    </span>
                  </div>
                </form>
              </div>
              <!-- end form reset -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Links <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <!-- Form -->
              <form class="form-inline" onsubmit="createresult();return false;">
                <div class="form-group input-group"></div>
                <div class="form-group mx-sm-3 input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-success" type="submit" name="run_model">Run Model</button>
                  </span>
                </div>
                <div class="form-group mx-sm-3 input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#add-link">Add Node/Link</button> 
                  </span>
                </div>
                <div class="form-group mx-sm-3 input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-warning" onclick="reset_demand_only()">Reset demand only</button>
                  </span>
                  <span>
                    <!-- Not yet <button type="button" class="btn btn-success" data-toggle="modal" data-target="#save-model">Save Model</button> -->
                  </span>
                </div>
              </form>
              <!-- End Form -->
              <!-- Table -->
              <div class="x_content">
                <table id="table" data-toggle="false"
                data-search= "true"
                data-show-columes="true"
                data-pagination="false"
                data-click-to-select="true"
                class="table table-striped table-bordered">
              </table>
            </div>
            <!-- End Table -->  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- <script src="{{ url_for('static', filename='vendors/d3.js/d3.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='custom/topology/create_legend.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/plotly/plotly-latest.min.js') }}"></script>
  <script src="{{ url_for('static', filename='custom/topology/create_graph.js') }}"></script>
  <script src="{{ url_for('static', filename='custom/topology/getSPF.js') }}"></script>
  <script src="{{ url_for('static', filename='custom/topology/jsontables.js') }}"></script>
  <!-- Bootsrap table -->
  <script src="{{ url_for('static', filename='vendors/bootstrap-table/bootstrap-table.js') }}"></script>
  <!-- Bootstrap editable extension -->
  <script src="{{ url_for('static', filename='vendors/bootstrap-table/extensions/editable/bootstrap-table-editable.js') }}"></script>
  <!-- x-editable externsion --> 
  <script src="{{ url_for('static', filename='vendors/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
  <!-- alertifyjs -->
  <script src="{{ url_for('static', filename='vendors/alertifyjs/alertify.min.js') }}"></script>
  <!-- Datatables 
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  -->
  <!-- Just to test -->
  <script src="https://gitcdn.link/repo/xcash/bootstrap-autocomplete/master/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
  <!--
  <script src="{{ url_for('data_blueprint.static', filename='utils.js') }}"></script>
  <script src="{{ url_for('data_blueprint.static', filename='d3js_utils.js') }}"></script>
  -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{{ url_for('data_blueprint.static', filename='d3js_v5_utils.js') }}"></script>
  <script src="{{ url_for('data_blueprint.static', filename='lnet_d3js.js') }}"></script>
  <script src="{{ url_for('data_blueprint.static', filename='utils.js') }}"></script>

<script>
 //node position
 var node_position = {{node_position|tojson|safe}}
 //console.log(node_position)
 //autocomplete 
 var router_name = {{router_name|tojson}}
 var router_name = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: router_name
  });
    
// Initializing the typeahead
$('.typeahead').typeahead({
    hint: true,
    highlight: true, /* Enable substring highlighting */
    minLength: 1 /* Specify minimum characters required for showing suggestions */
  },
  {
    name: 'router_name',
    source: router_name
  }
); 

// bootstrap table from flask variables
$(window).load(function() {
  var data = {{values|tojson}};
  console.log(data)
  var columns = {{columns|tojson}};
  $(function() {
    $('#table').bootstrapTable ({
      data: data,
      columns: columns,
    });
  });
});

// reset table and remove existing demand or metric change
function reset_demand() {
    console.log('reset_demand')
    var data = {{values|tojson}} ;
    if ( data.length == null) {
        $('#table').bootstrapTable('removeAll')
    }
    else {
        $('#table').bootstrapTable("load", data);
    }
}

 //if deploy demand button
 function deploy_demand() {
  //reset search on table 
  $('#table').bootstrapTable('resetSearch', '');
  //get netflow demands 
  var demandarr = {{netflow_demands|tojson}}
  if ($('#netflow_demands').is(':checked') )
    { 
    var source = document.getElementById("source").value
    var target = document.getElementById("target").value
    var demand = document.getElementById("demand").value * 1000000
    demandarr.push({'source':source,'target':target,'demand':demand})
    console.log("click and checked")
    demand_deploy_inside(demandarr)
    }
  else
    { 
    demandarr =[]
    var source = document.getElementById("source").value
    var target = document.getElementById("target").value
    var demand = document.getElementById("demand").value * 1000000
    demandarr.push({'source':source,'target':target,'demand':demand})
    console.log("click but not if") 
    demand_deploy_inside(demandarr)
    }

    function demand_deploy_inside(demandarr){
        console.log(demandarr)
        var demandArrStr = encodeURIComponent(JSON.stringify(demandarr));
        // create an array with values from table ( as it might been updated (ie: change isis metric) )
        var jsonTable = new JSONTable($("#table"))
        var arr= jsonTable.toJSON()
        var arrStr = encodeURIComponent(JSON.stringify(arr));
        //pass the table array and the demand array to api and save the results
        console.log('demand_array',demandArrStr)
        console.log('jsontable',arrStr)
        url = "http://127.0.0.1:8801/api/model_demand?"+"arr="+arrStr+"&"+"demand="+demandArrStr
        var initAjax = function (){
          var customAjaxResponse = $.ajax({
                                           type: 'GET',
                                           url: url,
                                           beforeSend: function (xhr) {
                                                          alertify.notify("Running demand ..... ", 'warning', 5)
                                                          $('#modal-top1').modal('show')
                                                                       }
                                           }).done(function (jsondata) {
                                                          alertify.notify("Demand Deployed OK", 'success', 5)
                                                          $('#modal-top1').modal('toggle')
                                           }).error(function (jqXHR, exception) {
                                                          alertify.notify("Error Demand not deployed...not sure why but it's you!!! ", 'error', 15)
                                                          $('#modal-top1').modal('toggle')
      
                                          });
          return customAjaxResponse.promise();
          }
       var model_results = initAjax();
       model_results.then(function( response ){
         $('#table').bootstrapTable("load", response);
         // bring modal up
         $('#modal-top').modal('toggle')
         //display topology
         createresult()
        })
    }
}
function createresult() {
  //reset search
  $('#table').bootstrapTable('resetSearch', '');
  alertify.notify("Model Run",'success',5)
  $('#modal-top').modal('show')
  //remove spf results on a new result
  jQuery('#spf_div1').html('');
  // remove previous legend on a new result
  jQuery('#legend_div').html('');
  // remove previous topology 
  d3.select("#main_svg").remove();
  create_legend('traffic') //create legend 
  // create d3js topology
  var jsonTable = new JSONTable($("#table")) //save table 
  var graphData = jsonTable.toJSON() // save table as json 
  var source = '.' //define regexp for topology 
  var target = source 
  var re_source = new RegExp (source);
  var re_target = re_source
  //updateData(grapheDatas,source) //run d3js topology 
  result = data_prepare(graphData,re_source,re_target) //this returns the correct link and nodes
  console.log('results:',result)
  var run_it = new lnet_d3js(result,'demand') //run lnet_d3js
  run_it.restart(result[1],result[0],result[0]) //draw
}

</script>

{% endblock javascripts %}
