{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <!-- bootsrap table -->
  <!--alertify -->
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/themes/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/alertify.css') }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
        <div class="">
                <div class="page-title">

<div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right ">
        </div>
</div>
</div>
</div>

<div class="clearfix"></div>

<div class="row">
        <!-- Modal used for graphs-->
        <div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Plotly based Graphs</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                </div>
        </div>
        <!-- End Modal -->

        <div class="clearfix"></div>

        <!-- bar chart -->
        <div class="col-md-14">
                <div class="x_panel">
                        <div class="x_title">
                                <h2>ISP Telecom <small>ISIS topology</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                </li>
                        </ul>
                        <div class="clearfix"></div>
                </div>
                                <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="x_panel">
                                                        <div class="x_title">
                                                         <h3> Select Start time </h3>
                                                         <div class='input-group date' id='datetimepicker1' style="width:20%; height:10%;">
                                                          <input type='text' class="form-control" />
                                                           <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                           </span>
                                                          </div>
                                                                <h3>Show 20 Intervals from start time </h3>
                                                                <div><input type="text" id="time_slider" name="time_slider" value="" /></div>
                                                                <div class="x_content">
                                                                        <!-- Div for d3js topology -->
                                                                        <div id="topology" style="width:100%; height:100%;">
                                                                                <!-- Div for legend -->
                                                                                <div class="x_content" id="legend_div"></div>
                                                                                <!-- SPF div and checkbox !-->
                                                                                <div class="checkbox" id="spf_div">
                                              <form>
                                                <label class="checkbox-inline">
                                                  <input type="checkbox" id="spf_check" value="">Activate SPF 
                                                </label>
                                                <label class="checkbox-inline">
                                                  <input type="checkbox" id="dynamic_topology" value="">Dynamic Topology
                                                </label>
                                              </form>
                                                                                </div>
                                                                                <!-- Div for SPF results -->
                                                                                <div class="spf_results x_content" id="sfp_div1"></div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
        </div>
</div>
<!-- /bar charts -->
<div class="clearfix"></div>
</div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
<script src="{{ url_for('static', filename='vendors/plotly/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/create_graph.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/getSPF.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/create_legend.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/alertifyjs/alertify.min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('data_blueprint.static', filename='d3js_v5_utils.js') }}"></script>
<script src="{{ url_for('data_blueprint.static', filename='lnet_d3js.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
var node_position = {{node_position | tojson | safe}}
var graphData = JSON.parse('{{ values | tojson | safe}}');
var web_ip = {{app_config|tojson|safe}}

//datepicker 
$('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                stepping: 5}).on("dp.hide", function (e){ update_slider(
                moment($('#datetimepicker1').data("DateTimePicker").viewDate()._d).format('YYYY-MM-DD HH:mm:ss')
                                                ) })
//end datepicker 

//slider
function update_slider(selected_date){
//get the values from api
url = {{ url_for('api_blueprint.get_links_interval')|tojson }}+'?time='+selected_date
console.log(url)
values = getData(url)
values.then(function (data) { 
        //update slider data 
        instance = $("#time_slider").data("ionRangeSlider");
        instance.destroy()
        //lame create again

$("#time_slider").ionRangeSlider({
    type: "single",
    grid: true,
    grid_snap: true,
    force_edges: true,
    values : Object.values(data),
    onStart: function (data) {
        console.log("start");
    },
    onChange: function (data) {
        time = data.from_value
        updateData(time);
    },
    onFinish: function (data) {
        console.log("finish");
    },
    onUpdate: function (data) {
        console.log("update");
    }
})
})
}
//initial with current data 
$("#time_slider").ionRangeSlider({
    type: "single",
    grid: true,
    grid_snap: true,
    force_edges: true,
    //values: {{ values | tojson | safe}},
    values : ['1','1'],
    onStart: function (data) {
        console.log("start");
    },
    onChange: function (data) {
        console.log("update");
    },
    onFinish: function (data) {
        console.log("finish");
    },
    onUpdate: function (data) {
        console.log("update");
    }
});
//end slider 

    create_legend('traffic')
    var source = ""
    var target = source 
    var re_source = new RegExp (source);
    var re_target = re_source
    result = data_prepare(graphData,re_source,re_target) //this returns the correct link and nodes
    var run_it = new lnet_d3js(web_ip,result,'traffic') //run lnet_d3js
    run_it.restart(result[1],result[0],result[0]) //draw

    //dynamic nodes
    $('#dynamic_topology').change(function() {
        if(this.checked){
            console.log("dynamic checked")
            d3.selectAll(".node").data().forEach(function(d) {
              d.fx = d.fy = null;
            })
        }
    });

    //update data 
        function updateData(time) {
        console.log('updateData run with time',time)
        url = {{ url_for('api_blueprint.get_isis_links_time')|tojson }}+'?time='+time
        var graphData1 = getData(url)
        graphData1.then(function (data) {
          result = data_prepare(data,re_source,re_target)
            nodes = result[1]
            links = result[0]
            linkstext = result[0]
            //console.log('nodes:',nodes)
            //linkedByIndex = result[2]
            run_it.restart(nodes,links,linkstext);
        })
    }
    //end update data 

//})

</script>

{% endblock javascripts %}
