<!-- Modal used for loading screen -->  
<div class="modal fade " id="modal-loading" tabindex1="" role1="document" aria-labelledby1="loadingModalLabel" aria-hidden1="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <div id="PageContent"> 
          <div id="loadingIndicatorCtn">
            <div class="loadingIndicator">
              <h1><span class="label label-info">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:30px;color:"blue""></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loading...</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
