{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<!-- Modal used for graphs-->
<div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Plotly based Graphs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12 grid-margin d-flex stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-2">IGP Topology</h4>
                <div class="dropdown">
                  <button onclick="javascript:node_position_save();" class="btn btn-success">Save Layout</button> </h3>
                </div>
              </div>
              <div>
                <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active pl-2 pr-2" id="topology-tab" data-toggle="tab" href="#topology-menu"
                      role="tab" aria-controls="topology-menu" aria-selected="true">ISP Telecom - Link Util</a>
                  </li>
                </ul>
                <div class="tab-content tab-no-active-fill-tab-content">
                  <div class="tab-pane fade show active" id="topology-menu" role="tabpanel"
                    aria-labelledby="topology-tab">
                    <div class="d-lg-flex justify-content-between">
                      <div id="legend_div" class="revenuechart-legend"></div>
                    </div>
                    <div id="topology">
                      <div class="checkbox" id="spf_div">
                        <form>
                          <label class="checkbox-inline">
                            <input type="radio" name="group" id="spf_check" value=""> Activate SPF
                          </label>
                          <label class="checkbox-inline">
                            <input type="radio" name="group" id="dynamic_topology" value=""> Dynamic Topology
                          </label>
                        </form>
                      </div>
                      <div class="spf_results x_content" id="sfp_div1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='custom/topology/create_graph.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/getSPF.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/create_legend.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('data_blueprint.static', filename='d3js_v5_utils.js') }}"></script>
<script src="{{ url_for('data_blueprint.static', filename='lnet_d3js.js') }}"></script>
<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
  var node_position = {{ node_position | tojson | safe}}
  var graphData = JSON.parse('{{ values | tojson | safe}}');
  var web_ip = {{ app_config.web_ip| tojson | safe}}

  //save node position
  function node_position_save() {
    node_postion_save = []
    d3.selectAll(".link").data().forEach(function (d) { var entry = { 'id': d.source.name, 'x': d.source.x, 'y': d.source.y }; node_postion_save.push(entry) })
    var demandArrStr = encodeURIComponent(JSON.stringify(node_postion_save));
    url = {{ url_for('api_blueprint.save_node_position') | tojson }
  } +'?arr=' + demandArrStr


  var saveData = $.ajax({
    type: 'POST',
    url: url,
    dataType: "text",
    success: function (resultData) { alertify.notify("Node Position Saved ", 'success', 5) }
  });
  saveData.error(function () { alertify.notify("Something went wrong", 'error', 5); });
}


  $(window).resize(function () {
    var div_width = document.getElementById("topology-menu").clientWidth
    create_legend('traffic', div_width)
  })

  $(document).ready(function () {
    var div_width = document.getElementById("topology-menu").clientWidth
    create_legend('traffic', div_width)
    var source = "" // filter source target if neede
    var target = source
    var re_source = new RegExp(source);
    var re_target = re_source
    result = data_prepare(graphData, re_source, re_target) //this returns the correct link and nodes
    var run_it = new lnet_d3js(web_ip, result, 'traffic') //run lnet_d3js
    run_it.restart(result[1], result[0], result[0]) //draw

    //dynamic nodes
    $('#dynamic_topology').change(function () {
      if (this.checked) {
        console.log("dynamic checked")
        d3.selectAll(".node").data().forEach(function (d) {
          d.fx = d.fy = null;
        })
      }
    });

    d3.interval(function () {
      //console.log('d3.interval run')
      url = {{ url_for('api_blueprint.get_isis_links') | tojson }
    }
        var graphData1 = getData(url)
    graphData1.then(function (data) {
      result = data_prepare(data, re_source, re_target)
      nodes = result[1]
      links = result[0]
      linkstext = result[0]
      //console.log('nodes:',nodes)
      //linkedByIndex = result[2]
      run_it.restart(nodes, links, linkstext);
    })
  }, 60000); //60sec

})
</script>

{% endblock javascripts %}