{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<!-- Modal used for graphs-->
<div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Plotly based Graphs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<!--Begin main content -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 pb-2">
          <div class="d-flex align-items-center justify-content-between">
            <div class="">
              <select class="form-control" name="report_type" id="report_type">
                <option value="html">HTML - New Window</option>
                <!--<option value="pdf">PDF - Download</option>-->
              </select>
            </div>
            <button class="btn btn-primary btn-success mb-2" onclick="javascript:generate_report();">Generate Report</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 grid-margin d-flex stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-2">LAYER 3 Topology</h4>
                <button onclick="javascript:node_position_save();" class="btn btn-success">Save Layout</button>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="topology">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 grid-margin d-flex stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-2">LAYER 1 Topology</h4>
                <button onclick="javascript:node_position_save();" class="btn btn-success">Save Layout</button>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="topology_layer1">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 grid-margin d-flex stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-2">LAYER 3 Links</h4>
              </div>
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <div class="table-responsive">
                    <table id="routers_table" class="table table-hover table-bordered"
                    data-toggle="table"
                    data-search="false"
                    data-sortable="true"
                    data-pagination="true"
                    data-page-size="4"
                    data-total-rows="4"
                    data-show-columns="true">
                    <thead class="thead-light">
                      <tr>
                        <th data-field="card_slot" data-sortable="true">SOURCE</th>
                        <th data-field="card_name" data-sortable="true">TARGET</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for node in values %}
                        <td>{{node.source}}</td>
                        <td>{{node.target}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="col-sm-6 grid-margin d-flex stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="card-title mb-2">LAYER 1 Table</h4>
            </div>


            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="table-responsive">
                  <table id="layer1_table" class="table table-hover table-bordered"
                  data-unique-id="id"
                  data-toggle="table"
                  data-search="false"
                  data-sortable="true"
                  data-pagination="true"
                  data-page-size="4"
                  data-total-rows="4"
                  data-show-columns="true">
                  <thead class="thead-light">
                    <tr>
                      <th data-field="id" data-class="hide_me" data-sortable="true">ID</th>
                      <th data-field="source" data-sortable="true">SOURCE</th>
                      <th data-field="target" data-sortable="true">TARGET</th>
                      <th data-field="layer3_mapping"  data-escape="true" data-sortable="false">LAYER 3 LINKS</th>
                      <th data-field="status_button" data-sortable="true">STATUS</th>
                      <th data-field="status" data-class="hide_me" data-sortable="true">STATUS VAL</th>
                      <th data-field="l_ip_r_ip" data-class="hide_me" data-sortable="true">L_IP_R_IP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% for node in layer1_links %}
                      <td>{{node.id}}</td>
                      <td>{{node.source}}</td>
                      <td>{{node.target}}</td>
                      <td>{{node.layer3_mapping}}
                        <td>
                          <input class="toggle-event" type="checkbox" data-on="UP" data-off="DOWN"
                          data-onstyle="success" checked data-toggle="toggle"
                          id="toggle-event" data-size="mini" data-width="60">
                        </td>
                        <td>{{node.status}}</td>
                        <td>{{node.source}}_{{node.target}}{{node.id}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- End main content -->

{% endblock content %}

{% block javascripts %}
  {{ super() }}
<script src="{{ url_for('static', filename='custom/topology/create_graph.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/getSPF.js') }}"></script>
<script src="{{ url_for('static', filename='custom/topology/create_legend.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('data_blueprint.static', filename='d3js_v5_utils.js') }}"></script>
<script src="{{ url_for('data_blueprint.static', filename='lnet_d3js.js') }}"></script>
<script src="{{ url_for('data_blueprint.static', filename='lnet_layer1_d3js.js') }}"></script>
<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>
  var node_position = {{node_position | tojson | safe}};
  var graphData = JSON.parse('{{ values | tojson | safe}}');
  var web_ip = {{app_config|tojson|safe}};

  function generate_report(){
    var selected = $('#report_type option:selected').val();
    console.log(selected)
    down_links_json = JSON.stringify(down_links);
    url = '/admin/admin_report_failed'+'?links='+down_links_json+'&type='+selected
    console.log(url)

    var initAjax = function () {
      var customAjaxResponse = $.ajax({
         type: 'POST',
         url: url,
         data: down_links_json,
         dataType:'html',
         beforeSend: function (xhr) {
                        alertify.notify("Request report ..... ", 'warning', 5)
                        //$('#modal-loading').modal('show')
                                     },
         success: function (jsondata) {
                        alertify.notify("Report complete", 'success', 5)
                        //$('#modal-loading').modal('toggle')
                      },
         error: function (jqXHR, exception) {
                        alertify.notify("Error creating report ", 'error', 15)
                        //$('#modal-loading').modal('toggle')
                      }
        });
      return customAjaxResponse.promise();
      }

    var model_results = initAjax();

    model_results.then(function( response ){
      var w = window.open('about:blank', 'windowname');
      w.document.write(response);
      w.document.close();
    })
  }

  //save node position
  function node_position_save(){
  	node_postion_save =[]
  	d3.selectAll(".node").data().forEach( function (d) {
      var entry = {'id':d.name,'x':d.x,'y':d.y} ;
      node_postion_save.push(entry)
    })

  	d3.selectAll(".node_layer1").data().forEach( function (d) {
      var entry = {'id':d.name,'x':d.x,'y':d.y} ;
      node_postion_save.push(entry)
    })
    var demandArrStr = encodeURIComponent(JSON.stringify(node_postion_save));
          url = {{ url_for('api_blueprint.save_node_position')|tojson }}+'?arr='+demandArrStr


  	var saveData = $.ajax({
  	      type: 'POST',
  	      url: url,
  	      dataType: "text",
  	      success: function(resultData) { alertify.notify("Node Position Saved ", 'success', 5) },
          error: function() { alertify.notify("Something went wrong",'error',5) }
  	});
  }
  //end node position
  $( document ).ready(function() {
    var source = "" // filter source target if neede
    var target = source
    var re_source = new RegExp (source);
    var re_target = re_source

    result = data_prepare(graphData,re_source,re_target) //this returns the correct link and nodes
    console.log(result)
    var run_it = new lnet_d3js(web_ip,result,'traffic') //run lnet_d3js
    run_it.restart(result[1],result[0],result[0]) //draw

    var layer1_table = $('#layer1_table')
    var layer1_table_data = layer1_table.bootstrapTable('getData');
    console.log('this is the date before result_layer1',layer1_table_data)
    result_layer1 = data_prepare(layer1_table_data,re_source,re_target) //this returns the correct link and nodes
    console.log(result_layer1)
    var run_layer1 = new lnet_layer1_d3js(web_ip,result_layer1,'traffic')
    run_layer1.restart(result_layer1[1],result_layer1[0],result_layer1[0])

    $("#layer1_table").delegate("input", "change", function() {
      //like this better
      down_links =[]
      var row = $(this).closest("tr");
      var row_id = row.data('index')
      var row_links = row.data('layer3_mapping')

      if ($(this).is(':checked')){
        layer1_table.bootstrapTable('updateCell', {index: row_id , field: 'status', value: '1' , reinit: false })
      }
      else {
        layer1_table.bootstrapTable('updateCell', {index: row_id , field: 'status', value: '0' , reinit: false })
      }

      var layer1_table_data = layer1_table.bootstrapTable('getData');
      layer1_table_data.forEach(function(d){
        if (d.status == 0 ) {
          new_arr = d.layer3_mapping.split(',')
          new_arr.forEach(function(inside_d){ down_links.push(inside_d) })
        }
      })
      result_layer1 = data_prepare(layer1_table_data,re_source,re_target)
      run_layer1.restart(result_layer1[1],result_layer1[0],result_layer1[0])
      //start updateting the links table
      ///remove links that are down due to fiber failure
      console.log('*******************down_links',down_links)
      //console.log('graph_data',graphData)
      new_links = graphData.filter(function(itm){
        console.log('****start****')
        console.log('down_links',down_links)
        console.log('itm l_ip',itm['l_ip'])
        console.log('itm r_ip',itm['r_ip'])
        console.log('****end****')
        if (down_links.indexOf(itm['l_ip']) > -1 || down_links.indexOf(itm['r_ip']) > -1) {
          console.log('*************found link to remove',itm)
        }
        else { return down_links.indexOf(itm.l_ip) ; console.log(itm) }
      });
      ///redraw the div for topology
      console.log('new links',new_links)
      result_new = data_prepare(new_links,re_source,re_target)
      //console.log(result_new)
      run_it.restart(result_new[1],result_new[0],result_new[0]) //draw
      //done
  })
  down_links =[]
  $(".dropdown-menu").delegate("a", "click", function() {
    down_links =[]
    console.log('toggle')
    selected_text = $(this).text()
    console.log(selected_text)
    var button = $(this).parents('.dropdown').find('button')
    button.text( $(this).text() );
    var row = $(this).closest("tr");
    var row_id = row.data('index')
    console.log('row_id',row_id)
    var button_state = $(this).parents('.dropdown').find('button').text()
    var layer1_table = $('#layer1_table')
    var layer1_table_data = layer1_table.bootstrapTable('getData');
    console.log(layer1_table_data)
    if (button_state == 'DOWN'){
      console.log('button is down')
      layer1_table.bootstrapTable('updateCell', {index: row_id , field: 'status', value: '0' , reinit: false })
    }
    else{
      layer1_table.bootstrapTable('updateCell', {index: row_id , field: 'status', value: '1' , reinit: false })
    }
    var layer1_table_data = layer1_table.bootstrapTable('getData');
    layer1_table_data.forEach(function(d){
      if (d.status == 0 ) {
        console.log(d); down_links.push(d.layer3_mapping)
      }
    })
    result_layer1 = data_prepare(layer1_table_data,re_source,re_target)
    run_layer1.restart(result_layer1[1],result_layer1[0],result_layer1[0])
    console.log(down_links)
   })
});

$('#layer1_table').on('page-change.bs.table', function () {
  $('.toggle-event').bootstrapToggle()
})

</script>

{% endblock javascripts %}
