{% extends "base_site.html" %}

{% block title %} ISIS Topology {% endblock title %}

{% block stylesheets %}
  {{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<!--6e898d old:0ddbb9 -->
    <!-- Modal -->
    <div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Plotly Graphs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <!-- 1st Row -->
      <div class="row">
        <div class="col-lg-8 col-xs-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <form method="POST" class="col-lg-12">
                <div class="col-lg-12 grid-margin stretch-card">
                 <div class="form-group col-lg-3">
                  <select class="form-control" name="source_cc">
                    <option selected>Source Country</option>
                    {% for entry in countries %}
                    <option value="{{entry['anon_1']}}">{{entry['anon_1']}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-lg-3">
                  <select class="form-control" name="target_cc">
                    <option selected>Target Country</option>
                    {% for entry in countries %}
                    <option value="{{entry['anon_1']}}">{{entry['anon_1']}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-lg-3">
                 <select class="form-control" name="time_cc">
                  <option value=24>Last day</option>
                  <option value=128>Last week</option>
                  <option value=720>Last month</option>
                </select>
              </div>
              <div class="form-group col-lg-3">
                <span class="input-group ">
                 <button class="btn btn-primary btn-success" type="submit" name="get_max_util">Go!</button>
               </span>
             </div>
           </div>
         </form>
         </div><!--end row-->
         <div class="row">
          <h2>24 Hours Graph (Agg by 5m interval)</h2>
          <div class="col-md-12 grid-margin stretch-card mx-auto" id="graph_aggr_col">
            <div id="graph_aggr">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3 mb-lg-0"><!--second form with options -->
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Util vs Capacity</h4>
        <div class="col-md-12">
          <div id="chart" style="width: 100%; min-height: 400px">
          </div>
        </div>
      </div>
    </div>
  </div><!-- end second form -->
</div><!--end 1st row -->

<!--end card with submenu -->
<div class="row">
  <div class="col-sm-12 grid-margin d-flex stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title mb-2">Network Data
          </h4>
          <div class="dropdown">
            <a href="#" class="text-primary btn btn-link  px-1">
              <i class="mdi mdi-refresh"></i>
            </a>
          </div>
        </div>
        <div id="menu_and_content">
          <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
            <li class="nav-item">
              <a class="nav-link active pl-2 pr-2" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="year" aria-selected="true">Traffic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-2 pr-2" id="forecast-tab" data-toggle="tab" href="#forecast" role="tab" aria-controls="forecast" aria-selected="false">Forecast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-2 pr-2" id="links-cc-tab" data-toggle="tab" href="#links-cc" role="tab" aria-controls="links-cc" aria-selected="false">Links</a>
            </li>
          </ul>
        <div class="tab-content tab-no-active-fill-tab-content">
            <div class="tab-pane fade show active" id="year" role="tabpanel" aria-labelledby="year-tab">
              <h4 class="card-title mb-2">Year Traffic Aggregate</h4>
              <div id="graph_aggr_year"></div>
            </div>
            <div class="tab-pane fade" id="forecast" role="tabpanel" aria-labelledby="forecast-tab">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-2">Traffic Forecast</h4>
                <button id='forecast_btn'
                        class="btn btn-primary btn-success"
                        id="load"
                        data-loading-text="">Get Forecast
                </button>
              </div>
              <div id="graph_forecast"></div>
            </div>
            <div class="tab-pane fade" id="links-cc" role="tabpanel" aria-labelledby="links-cc-tab">
              <div class="d-lg-flex justify-content-between">
                <div class="table-responsive">
                  <table id="links-cc-table"
                  class="table table-hover table-bordered"
                  data-toggle="table"
                  data-search="false"
                  data-sortable="true"
                  data-pagination="true"
                  data-show-columns="true">
                    <thead class="thead-light">
                      <tr>
                        <th data-field="source" data-sortable="true">SOURCE</th>
                        <th data-field="target" data-sortable="true">TARGET</th>
                        <th data-field="l_ip" data-sortable="true">L-IP</th>
                        <th data-field="r_ip" data-sortable="true">R-IP</th>
                        <th data-field="metric" data-sortable="true">METRIC</th>
                        <th data-field="capacity" data-sortable="true">CAPACITY</th>
                        <th data-field="graph" data-sortable="true">GRAPH</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for node in values %}
                        <td>{{node.source}}</td>
                        <td>{{node.target}}</td>
                        <td>{{node.l_ip}}</td>
                        <td>{{node.r_ip}}</td>
                        <td>{{node.metric}}</td>
                        <td>{{node.capacity}}</td>
                        <td>
                          <button type="button"
                                  id="get_plotly"
                                  source="{{node.source}}" interface="{{node.l_int}}"
                                  capacity="{{node.capacity}}"
                                  class="graph2-btn btn btn-primary btn-success btn-rounded btn-sm my-0">24h Graph
                          </button>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end card with submenu -->
</div>
</div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts-en.min.js"></script>
<script src="{{ url_for('static', filename='custom/topology/create_graph.js') }}"></script>

<script src="{{ url_for('data_blueprint.static',filename='utils.js') }}"></script>

<script src="{{ url_for('data_blueprint.static', filename='d3js_v5_utils.js') }}"></script>
<script src="{{ url_for('data_blueprint.static', filename='lnet_d3js.js') }}"></script>

<script>
$(document).ready(function(){
  $('.graph2-btn').on('click', function (e) {
    console.log('clik btn')
    var source = $(this).attr('source')
    var interface = $(this).attr('interface')
    var capacity = $(this).attr('capacity')
    $('#modal-top').modal('toggle')
    $('#modal-body').attr("id","graph2")
    .html(graph(web_ip,source,interface,capacity))
  })
})


  var web_ip = {{app_config|tojson|safe}}
  var capacity={{total_capacity}}
  var data = {{graph|tojson}}
  var df_year= {{df_year|tojson}}
  var year_capacity = capacity
  var source_cc = '{{s_c}}'
  var target_cc = '{{t_c}}'

  if ( data == 0 ) {
    alert('No Links between Countries');
  }
  graph_aggr(data,capacity)

  graph_aggr_year(df_year,year_capacity,'graph_aggr_year',source_cc,target_cc)

  function graph_aggr(data,capacity) {

    var height = document.getElementById("graph_aggr_col").offsetHeight
    var width = document.getElementById("graph_aggr_col").offsetWidth
    var rawDataURL = data
    //// map the fields
    var xField = 'time';
    var yField = 'bps';
    /// create selector
    var selectorOptions = {
      buttons: [{
        step: 'minute',
        stepmode: 'backward',
        count: 30,
        label: '30m'
      }, {
        step: 'hour',
        stepmode: 'backward',
        count: 1,
        label: '1h'
      }, {
        step: 'hour',
        stepmode: 'todate',
        count: 3,
        label: '3h'
      }, {
        step: 'hour',
        stepmode: 'todate',
        count: 12,
        label: '12h'
      }, {
        step: 'all',
      }],
    };
    ////prepare the graph
    var data = prepData(data);
    var layout = {
    showlegend: true,
    autoresize: true,
    width: document.getElementById('graph_aggr').clientWidth,
    height: height,
    width: width,
    title: '{{s_c}} to {{t_c}}' + ' Capacity: ' + capacity + ' Mbps',
    xaxis: {
      fixedrange: true,
      rangeselector: selectorOptions,
      rangeslider: {},
      type: 'date',
      title: 'Time',
    },
    yaxis: {
      fixedrange: true,
      autotick: true,
      autorange: true,
      tickformat: ".3s",
      title: 'Mbps'
    }
  };
////prepare the data
      function prepData(rawData) {
        var x = [];
        var y = [];

        rawData.forEach(function(datum, i) {

          x.push(new Date(datum[xField]));
          y.push(datum[yField]);
        });

        return [{
          mode: 'lines',
          connectgaps: 'false',
          fill: 'tonexty',
          line: { width: 1 , shape: 'spline' , color: 'rgb(153, 204, 255)' },
          name: 'Total Traffic',
          x: x,
          y: y
        }];

      }

Plotly.newPlot('graph_aggr', data, layout, {responsive: true}) }



//echart

max_capacity = {{total_capacity}}
max_util = {{max_value}}

$(document).ready(function () {

var mychart = document.getElementById('chart');

gChart = echarts.init(mychart);

option = {
  tooltip : {
    formatter: "{b} : {c}",
    option: true
  },
  toolbox: {
    feature: {
      restore: {},
      saveAsImage: {}
    }
  },
  series: [
  {
    name: 'Util',
    splitNumber: 4,
    type: 'gauge',
    radius: '100%',
    min: 0,
    max: max_capacity,
    detail: {formatter:'\n\n\n{value}Mbps'},
    data: [{value: max_util, name: 'Mbps'}]
  }
  ]
};

gChart.setOption(option);

})
    $(window).on('resize', function(){
        if(chart != null && chart != undefined){
            gChart.resize();
        }
        Plotly.relayout('graph_aggr', {
          width: 0.9 * window.innerWidth,
          height: 0.9 * window.innerHeight
        })
    });

//forecast

$('#forecast_btn').on('click', function() {
  var $this = $(this);
  var loadingText = '<i class="fas fa-spinner fa-spin"></i> loading...';
  $this.data('original-text', $(this).html());
  $this.html(loadingText);
  url = {{ url_for('api_blueprint.get_forecast')|tojson }}+'?source='+source_cc+'&target='+target_cc
  console.log(url)
  var forecast = getData(url);
  forecast.then(function (data) {
    $this.html($this.data('original-text'));
    forecast_data(data,data,data)
  })
});

</script>

{% endblock javascripts %}
