{% extends "base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
     {% for item in objects_counters %}    
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{item['name']}}</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div id='{{item['index']}}div_id'"style="height1:400px;"><i class="fa fa-spinner fa-spin"></i></div>
            </div>
          </div>
        </div>
     {% endfor %} 
    </div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<!-- Datatables -->
<script src="{{ url_for('static', filename='vendors/alertifyjs/alertify.min.js') }}"></script>
<script src="{{ url_for('map_blueprint.static',filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/plotly/plotly-latest.min.js') }}"></script>
<script>

function getData(url){
  console.log('this is inside')
  var customAjaxResponse = $.ajax({
     type: 'GET',
     url: url,
     beforeSend: function (xhr) {
                                 }
     }).done(function (jsondata) {

     }).error(function (jqXHR, exception) {
     });
  return customAjaxResponse.promise();
  }

//keep all promises in here
promises = []

{% for item in objects_counters %}
 entry = {{item|tojson|safe}}
 country = entry['country']
 pop = entry['pop']
 target = entry['target']
 type = entry['type']
 name = entry['name']
 capacity = ''
 index = entry['index']

 url = {{ url_for('map_blueprint.get_graph_data')|tojson }}+'?country='+country+'&pop='+pop+'&target='+target+'&type='+type+'&index='+index+'&name='+name
 //get data returns a promise
 get_data = getData(url)
 //push that to array 
 promises.push(get_data)

{% endfor %}

var arrayLength = promises.length;
for (var i = 0; i < arrayLength; i++) {
  promises[i].then(function(data) {
     graph_aggr(data,'capacity','graph_id','source_cc','target_cc')
    })
 }

</script>

{% endblock javascripts %}
