<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>LnetD v0.2</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/user.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/index">Dashboard</a></li>
          </ul>
        </li>


        <li><a><i class="fa fa-table"></i> ISP ISIS Info <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/objects/isis_routers">ISP ISIS Routers</a></li>
            <li><a href="/objects/isis_links">ISP ISIS Links</a></li>
	    <li><a href="/objects/isis_prefixes">ISP ISIS Prefixes</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
	    <li><a href="/data/topology">Topology</a></li>
            <li><a href="/data/topology_errors">Topology Errors </a></li>
            <li><a href="/data/topology_latency">Topology Latency </a></li>
            <li><a href="/data/model_isis_links">What If Topology </a></li>
	    <li><a href="/data/filter_topology">Filter Topology</a></li>
            <li><a href="/data/isp_pops">ISP Footprint</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
